:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR",
    "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  min-height: 100vh;

  /* 가로 스크롤만 방지 */
  overflow-x: hidden;

  background: #fff;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* 링크 기본 */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
}
